<div class="py-2">
  <button type="button" class="btn btn-primary" (click)="uploadFile.click()">Upload</button>
</div>

<div>
  <input type="file" class="d-none" #uploadFile (change)="fileChanged($event)">
    <image-cropper
      [imageChangedEvent]="imageChangeEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="currentAspectRatio"
      [maintainAspectRatio]="currentAspectRatio > 0"
      format="jpg"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="imageLoadingFailed()"
    ></image-cropper>
    <div class="action-row text-center mb-5" *ngIf="imageFile?.croppedImageEvent?.base64">
      <select class="form-control" [(ngModel)]="currentAspectRatio" >
        <option>Select Image Type</option>
        <option *ngFor="let item of imageDataService.aspectRatios" [value]="item.ratio" >{{item.displayratio}}</option>
      </select>
      <button type="button" class="btn btn-primary m-2" (click)="uploadImage()">Upload</button>
      <button type="button" class="btn btn-primary m-2" (click)="resetCropper()">Cancel</button>
    </div>
</div>
