<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col px-0">
        <app-frontend-home-slider></app-frontend-home-slider>
      </div>
    </div>
  </div>
</section>


<div class="content">
  <section *ngFor="let section of ui?.homeData?.sectionOrder">
    <ng-container *ngIf="section === 'category'" [ngTemplateOutlet]="categorySection"></ng-container>
    <ng-container *ngIf="section === 'event'" [ngTemplateOutlet]="eventSection"></ng-container>
    <ng-container *ngIf="section === 'news'" [ngTemplateOutlet]="newsSection"></ng-container>
  </section>
</div>


<ng-template #categorySection>
  <div class="container  py-2 py-sm-3 py-md-4 ">
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-0 section-heading">
        <h2 class="fw-medium mb-1 f-color-primary">{{categoryData?.categoryHeading}}</h2>
        <div class="header-bottom-bar mb-1 d-none d-md-block b-color-primary-accent"></div>
        <h5 class="d-none d-md-block mb-0 fw-medium f-color-secondary">{{categoryData?.categorySubheading}}</h5>
      </div>
    </div>
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-0" *ngIf="sliderConfigs?.categorySliderConfig" >
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfigs.categorySliderConfig" >
          <div ngxSlickItem  class="slide" *ngFor="let catArr of categoryData.organizedCategories">
            <div *ngFor="let cat of catArr">
              <app-frontend-category-card [category]="cat"></app-frontend-category-card>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-2 px-sm-0 text-right">
        <a [routerLink]="['/categories']" routerLinkActive="router-link-active"  class="btn btn-info do-zoom-hover" role="button">View More <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #eventSection>
  <div class="container py-2 py-sm-3 py-md-4">
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-0 section-heading">
        <h2 class="fw-medium mb-1 f-color-primary">{{eventData?.eventHeading}}</h2>
        <div class="header-bottom-bar mb-1 d-none d-md-block b-color-primary-accent"></div>
        <h5 class="d-none d-md-block mb-0 fw-medium f-color-secondary">{{eventData?.eventSubheading}}</h5>
      </div>
    </div>
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-0 " *ngIf="sliderConfigs?.eventSliderConfig" >
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfigs.eventSliderConfig" >
          <div ngxSlickItem  class="slide" *ngFor="let eventArr of eventData.organizedEvents">
            <div *ngFor="let evt of eventArr">
              <app-frontend-event-card [theEvent]="evt"></app-frontend-event-card>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-2 px-sm-0 text-right">
        <a [routerLink]="['/events']" routerLinkActive="router-link-active"  class="btn btn-info do-zoom-hover" role="button">View More <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #newsSection>
  <div class="container py-2 py-sm-3 py-md-4 ">
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-0 section-heading">
        <h2 class="fw-medium mb-1 f-color-primary">{{newsData?.newsHeading}}</h2>
        <div class="header-bottom-bar mb-1 d-none d-md-block b-color-primary-accent"></div>
        <h5 class="d-none d-md-block mb-0 fw-medium f-color-secondary">{{newsData?.newsSubheading}}</h5>
      </div>
    </div>
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-0" *ngIf="sliderConfigs?.newsSliderConfig" >
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sliderConfigs.newsSliderConfig" >
          <div ngxSlickItem  class="slide" *ngFor="let newsArr of newsData.organizedNews">
            <div *ngFor="let news of newsArr">
              <app-frontend-news-card [news]="news"></app-frontend-news-card>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="row mb-1 mb-sm-3 mt-1 mt-sm-0">
      <div class="col px-2 px-sm-0 text-right">
        <a [routerLink]="['/news']" routerLinkActive="router-link-active"  class="btn btn-info do-zoom-hover" role="button">View More <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</ng-template>



