<ul class="nav flex-column nav-dark bg-primary">
  <li class="nav-item admin-branding d-flex ">
    <a class="nav-link align-self-center" [routerLink]="[adminUrl]" >{{appName}}</a>
  </li>
  <ng-container *ngFor="let item of items">
    <ng-container
      *ngTemplateOutlet="hasChildren(item) ? dropdownItem : simpleItem ; context: {
        $implicit: {
          item: item,
          expanded: false
        }
      }"
    >
    </ng-container>

  </ng-container>
</ul>


<ng-template #dropdownItem let-data>
  <li class="nav-item" (click)="data.expanded = !data.expanded">
    <a class="nav-link d-flex align-items-center justify-content-between">
      <span>
        <i *ngIf="data.item.icon" [ngClass]="data.item.icon"></i> {{data.item.name}}
      </span>
      <i class="fa fa-angle-down"></i>
    </a>
  </li>
  <ul class="nav flex-column nav-dark bg-primary" *ngIf="data.expanded">
    <ng-container *ngFor="let innerItem of data.item.innerItems">
      <ng-container
        *ngTemplateOutlet="hasChildren(data.item.innerItems) ? dropdownItem : simpleItem ; context: {
          $implicit: {
            item: innerItem,
            expanded: false
          }
        }"
      >
      </ng-container>
    </ng-container>
  </ul>
</ng-template>

<ng-template #simpleItem let-data>
  <li class="nav-item">
    <a class="nav-link d-flex align-items-center justify-content-between">
      <span>
        <i *ngIf="data.item.icon" [ngClass]="data.item.icon"></i> {{data.item.name}}
      </span>
    </a>
  </li>
</ng-template>
