.admin-branding {
  height: 57px;
  border-bottom: 1px solid #fff;
}
.nav-dark a, .nav-dark a:hover, .nav-dark a:visited {
  color: #fff;
}

.nav-item {
  cursor: pointer;
}

#admin-sidebar {
  height: 100%;
}
