<div
  class="map"
  [ngClass]="class"
  *ngIf="leafletMapOptions"
  leaflet
  [leafletOptions]="leafletMapOptions"
  [(leafletCenter)]="mapData.center"
  [leafletFitBounds]="mapData.boundingBox"
  [style.height]="height ? height : null"
  [style.width]="width ? width : null"
  (leafletMapReady)="onMapReady($event)"
>
  <div *ngIf="mapData?.userPositionMarkerLayer"
    [leafletLayer]="mapData.userPositionMarkerLayer"
  ></div>
  <div
    [leafletMarkerCluster]="mapData.markerLayers"
    (leafletMarkerClusterReady)="onMarkerClusterReady($event)"
  >
  </div>
</div>

