<div class="p-2" [ngClass]="{'bg-grey-1': inputs?.length > 0}">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-info mb-2" (click)="addInput()">Add Row</button>
    </div>
  </div>
  <div class="row" *ngFor="let input of inputs; let i = index">
    <div class="col-sm-9 form-group">
      <input type="text" class="form-control" [value]="input" (change)="updateInput($event, i)">
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-warning" (click)="deleteInput(i)">Delete</button>
    </div>
  </div>
</div>

