<div class="row">
  <div class="col">
    <div class="p-2">
      <button type="button" class="btn btn-info" (click)="openPricingAddEditModel()">
        Add Pricing
      </button>
    </div>
    <div class="p-2" *ngIf="pricingInputs?.length > 0">
      <div *ngFor="let pricing of pricingInputs" class="pricing-item m-2 p-2 bg-grey-1">
        <h5 class="mb-2">{{pricing.name}}</h5>
        <p class="mb-1">{{pricing.price}}</p>
        <ul class="feature-list">
          <li *ngFor="let feature of pricing.features">
            {{feature}}
          </li>
        </ul>
        <button type="button" class="btn btn-info m-2" (click)="openPricingAddEditModel(pricing)">Edit</button>
        <button type="button" class="btn btn-warning m-2" (click)="deleteInput(pricing)">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="popup pricing-add-edit-popup" *ngIf="isAddEditPricingFormOpen">
  <div class="popup-container">
    <app-pricing-add-edit [pricing]="currentPricing" (pricingUpdated)="pricingUpdated($event)" (inputCanceleed)="this.isAddEditPricingFormOpen = false"></app-pricing-add-edit>
  </div>
</div>
