.category-card-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

/* .the-category-thumbnail {

} */

.category-card-content {
  border: 3px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width: 1024px) {
  .category-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .category-text {
    font-size: 0.6rem;
  }
}
