.category-card-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

/* .the-category-thumbnail {

} */

.category-card-content {
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
}
