<ng-container *ngIf="category">
  <a [routerLink]="['/listing']" [queryParams]="{catId: category.id}" routerLinkActive="router-link-active"
    class="no-decoration d-block f-color-primary"
  >
    <div class="category-card-container">
      <div class="category-card-content" [ngStyle]="{'background-image': 'url(' + category.thumbnail + ')'}">
      </div>

    </div>
    <div class="the-category-title mb-3">
      <h5 class="text-center category-text fw-medium mb-0">{{category.name}}</h5>
    </div>
  </a>

</ng-container>

