<div class="row bg-grey-1 py-3">
  <div class="col-12">
    <h4 class="mb-0">{{newsId ? 'Edit News' : 'Add News'}}</h4>
  </div>
</div>
<form *ngIf="newsFormGroup" [formGroup]="newsFormGroup">
  <div class="row py-3">
    <div class="col-sm-6 form-group">
      <label><span class="text-danger">*</span>Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="col-sm-6 form-group">
      <label>Views</label>
      <input type="number" class="form-control" formControlName="views">
    </div>
    <div class="col-sm-6 form-group">
      <label><span class="text-danger">*</span>Thumbnail Image <small class="text-muted">Upload an image having 3:5 aspect ratio</small></label>
      <app-media-picker formControlName="thumbnailImage"></app-media-picker>
    </div>
    <div class="col-sm-6 form-group">
      <label><span class="text-danger">*</span>Banner Image <small class="text-muted">Upload an image having 7:3 aspect ratio</small></label>
      <app-media-picker formControlName="bannerImage"></app-media-picker>
    </div>
    <div class="col-sm-12 form-group">
      <label><span class="text text-danger">*</span>Body</label>
      <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
    </div>

    <div class="col-sm-6 form-group">
      <label>Order</label>
      <input type="number" class="form-control" formControlName="order">
    </div>
    <div class="col-sm-3 form-group d-flex align-items-end justify-content-center">
      <div class="form-check text-center">
        <input class="form-check-input" type="checkbox" id="cat-active" formControlName="active">
        <label class="form-check-label" for="cat-active">
          Active
        </label>
      </div>
    </div>
    <div class="col-sm-3 form-group d-flex align-items-end justify-content-center">
      <div class="form-check text-center">
        <input class="form-check-input" type="checkbox" id="slider-featured" formControlName="featured">
        <label class="form-check-label" for="slider-featured">
          Featured
        </label>
      </div>
    </div>
    <div class="col-sm-12 text-right">
      <button type="button" class="btn btn-default mx-2" (click)="navigateToList()">Cancel</button>
      <button type="submit" class="btn btn-primary mx-2" (click)="save()"
        [attr.disabled]="newsFormGroup.valid ? null : 'disabled'"
      >Save</button>
    </div>
  </div>
</form>

