<div class="row bg-grey-1 py-3">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h4 class="mb-0">Categories
        </h4>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-primary btn-sm" (click)="export()">Export</button>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col py-2">
    <p>Showing total {{categories?.length}} Categories</p>
    <table class="table">
      <thead>
        <tr>
          <td>Number</td>
          <td>Name</td>
          <td>Image</td>
          <td>Parent Category</td>
          <td>Active</td>
          <td>Featured</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{category.number}}</td>
          <td>{{category.name}}</td>
          <td>
            <app-media-item [media]="category.image"></app-media-item>
          </td>
          <td>{{category.parentCategory?.name}}</td>
          <td>{{category.active ? 'Yes' : 'No'}}</td>
          <td>{{category.featured ? 'Yes' : 'No'}}</td>
          <td>
            <i class="fa fa-pencil link" (click)="editCategory(category)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


