.vertical-card.even-place {
  padding-right: 7.5px;
}

.vertical-card.odd-place {
  padding-left: 7.5px;
}

.listing-grid {
  max-height: calc(100vh - 56px - 68px);
  overflow-y: auto;
}

.map-close-btn {
  position: fixed;
  top: 72px;
  right: 15px;
  height: 42px;
  width: 42px;
  z-index: 999;
}


.top-section {
  max-height: 0px;
  transition: max-height 1s ease-out;
  overflow: hidden;
}

.top-section.show {
  max-height: 300px;
  transition: max-height 1s ease-in;
}

.location-search-results {
  position: absolute;
  background: #fff;
  z-index: 99;
  width: 300px;
  max-height: 60vh;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}



@media screen and (max-width: 991px) {

  .listing-grid {
    max-height: 100vh;
    overflow-y: auto;
  }

  .filter-section, .map-section {
    display: none;
  }

  .filter-section.show {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 56px;
    left: 0;
    height: 100vh;
    background: #fff;
    z-index: 99;
  }

  .map-section.show {
    display: block;
    position: fixed;
    top: 56px;
    left: 0;
    height: 100vh;
    background: none;
    z-index: 99;
  }
}
