.vertical-card.even-place {
  padding-right: 7.5px;
}

.vertical-card.odd-place {
  padding-left: 7.5px;
}

.listing-grid {
  max-height: calc(100vh - 56px - 68px);
  overflow-y: scroll;
}

.filter-container {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 9;
  background-color: #fff;
}

mat-slider {
  width: 100%;
}

@media screen and (max-width: 767px) {

  .filter-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .map-mobile-view {
    position: fixed;
    top: 175px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


