<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">

      <div class="top-section" [ngClass]="{'show': listingScrolledUp}">
        <div class="row py-2 d-flex align-items-center">
          <div class="col-lg-8 pb-1 pb-lg-0 breadcrumb-section">
            <nav class="mb-1" aria-label="breadcrumb">
              <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"
                  *ngIf="currentCategory"
                  [routerLink]="['/listing', currentCategory?.id]" routerLinkActive="router-link-active"
                >
                  {{currentCategory?.name}}
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-4 action-buttons-section d-flex justify-content-between justify-content-lg-end">
            <button type="button" class="btn btn-info btn-icon-circle mr-2 d-lg-none"
              (click)="toggleScreenSectionsDisplay('filter')" >
              <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-info btn-icon-circle mr-2 d-lg-none"
              (click)="toggleScreenSectionsDisplay('map')" >
              <i class="fa fa-map" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-info btn-icon-circle mr-2"
              (click)="toggleCardDisplayType()" >
              <i [ngClass]="cardDisplayType === 'horizontal' ? 'fa fa-bars' : 'fa fa-th'" aria-hidden="true"></i>
            </button>
            <button class="btn btn-info mr-2" (click)="toggleListingType()">
              {{listingType === 'regular' ? 'Top Listing' : 'Regular Listing'}}
            </button>

          </div>
        </div>

        <div class="row d-lg-none">
          <div class="col pb-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="What are you looking for?">
              <div class="input-group-append">
                <span class="input-group-text" ><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-4 filter-section" [ngClass]="{'show': toggleScreenType.includes(screenType) && !collapseDisplayVars.filter}">
          <div class="form-group">
            <select class="form-control custom-select" [(ngModel)]="filters.sortBy" (change)="filterChanged()">
              <option value="" disabled>Sort By</option>
              <option *ngFor="let option of sortOptions" [value]="option.value">{{option.label}}</option>
            </select>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="What are you looking for?" [(ngModel)]="filters.name" (keyup)="searchBusiness()">
              <div class="input-group-append">
                <span class="input-group-text" ><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Location" [(ngModel)]="filters.locationName" (keyup)="searchLocation()">
              <div class="input-group-append">
                <span class="input-group-text" ><i class="fa fa-map-marker"></i></span>
              </div>
            </div>
            <ul class="list-group location-search-results" *ngIf="showLocationSuggestions">
              <li class="list-group-item link" *ngFor="let result of locationResults" (click)="updateCurrentLocation(result)">{{result.label}}</li>
              <li *ngIf="locationResults.length === 0">No Results found</li>
            </ul>
          </div>
          <div class="form-group">
            <select [(ngModel)]="filters.categoryId" class="form-control custom-select" (change)="filterChanged('category')">
              <option value=''>All Categories</option>
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="distance-range-input" class="my-0">Distance : {{filters.distance + 'Kms'}}</label><br>
            <mat-slider
            thumbLabel
            tickInterval="1000"
            min="1"
            max="50"
            [(ngModel)]="filters.distance"
            (change)="filterChanged()"
            ></mat-slider>
          </div>
          <div class="text-right d-lg-none" >
            <button type="button" class="btn btn-default mr-2" (click)="toggleScreenSectionsDisplay('filter')">Cancel</button>
            <button type="submit" class="btn btn-info">Done</button>
          </div>
        </div>
        <div class="col-lg-8 py-2 bg-grey-1 listing-grid" appMonitorScroll (scrolledUp)="listingScrolledUp = true" (scrolledDown)="listingScrolledUp = false">
          <div class="row">
            <ng-container *ngFor="let business of businesses; let odd = odd;">
              <div
                class="mb-3"
                [ngClass]="{'col-12': cardDisplayType === 'horizontal', 'col-6 vertical-card': cardDisplayType !== 'horizontal', 'odd-place': odd, 'even-place': !odd }"
              >
                <app-frontend-business-listing-card
                  [business]="business" [displayType]="cardDisplayType"
                ></app-frontend-business-listing-card>
              </div>
            </ng-container>

          </div>
        </div>
      </div>


    </div>

    <div class="col-lg-5 px-0 map-section" [ngClass]="{'show': toggleScreenType.includes(screenType) && !collapseDisplayVars.map}">
      <button class="btn btn-info btn-icon-circle d-lg-none map-close-btn" (click)="toggleScreenSectionsDisplay('map')">
        <i class="fa fa-times"></i>
      </button>
      <app-map-with-markers [markers]="businessMarkers" [class]="'height100vhResHeader'"></app-map-with-markers>
    </div>
  </div>
</div>
