<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-sm-8 py-2">
          <nav class="mb-1" aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>

        </div>
        <div class="col-sm-4 py-2">
          <div class="row align-items-center">
            <div class="col">
              <select class="form-control">
                <option selected>Sort</option>
                <option>Distance</option>
                <option>Name</option>
              </select>


            </div>
            <div class="col text-right">
              <button *ngIf="toggleScreenType.includes(screenType)" type="button" class="btn btn-info btn-icon-circle mr-1" (click)="toggleDisplayVars.filter = !toggleDisplayVars.filter" >
                <i class="fa fa-filter"></i>
              </button>
              <button *ngIf="toggleScreenType.includes(screenType)" type="button" class="btn btn-info btn-icon-circle mr-1" (click)="toggleDisplayVars.map = !toggleDisplayVars.map" >
                <i class="fa fa-map"></i>
              </button>
              <button type="button" class="btn btn-info btn-icon-circle mr-1" (click)="toggleCardDisplayType()" >
                <i [ngClass]="cardDisplayType === 'horizontal' ? 'fa fa-bars' : 'fa fa-th'"></i>
              </button>
            </div>
          </div>





        </div>
      </div>

      <div class="row">
        <div class="col-md-4 filter-container">
          <form>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Whare are you looking for?">
                <div class="input-group-append">
                  <span class="input-group-text" ><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
            <div [ngClass]="{'hide-element': toggleDisplayVars.filter && toggleScreenType.includes(screenType)}">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Location">
                  <div class="input-group-append">
                    <span class="input-group-text" ><i class="fa fa-map-marker"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control custom-select">
                  <option *ngFor="let category of categories">{{category.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="distance-range-input" class="my-0">Distance</label><br>
                <mat-slider
                thumbLabel
                tickInterval="1000"
                min="1"
                max="10"></mat-slider>
              </div>
            </div>

          </form>
        </div>


        <div class="col-md-8 py-3 bg-grey-1 listing-grid">

          <div class="row">
            <ng-container *ngFor="let business of businesses; let odd = odd;">
              <div
                class="mb-3"
                [ngClass]="{'col-12': cardDisplayType === 'horizontal', 'col-6 vertical-card': cardDisplayType !== 'horizontal', 'odd-place': odd, 'even-place': !odd }"
              >
                <app-frontend-business-listing-card
                  [business]="business" [displayType]="cardDisplayType"
                ></app-frontend-business-listing-card>
              </div>
            </ng-container>

          </div>


        </div>
      </div>
    </div>
    <div class="col-md-5 px-0">
      <div class="map-mobile-view" [ngClass]="{'hide-element': this.toggleDisplayVars.map && toggleScreenType.includes(screenType) }" >
        <app-frontend-listing-map></app-frontend-listing-map>
      </div>

    </div>
  </div>

</div>
