<ng-container  *ngIf="news">
  <div class="the-card-container">
    <a [routerLink]="['/news/', news.id]" routerLinkActive="router-link-active" >
      <div class="card the-card link">
        <img class="card-img-top" [src]="news.imageUrl">
        <div class="card-body">
          <h5 class="card-title">{{news.name}}</h5>
          <p class="card-text"> {{news.date | date}} </p>
          <p class="card-text">{{news.description}}</p>
        </div>
      </div>
    </a>
  </div>
</ng-container>

