<nav class="navbar sticky-top navbar-dark frontend-header">
  <a class="navbar-brand" [routerLink]="['/']" >
    <img [src]="appLogo" height="30" class="d-inline-block align-top" alt="">
  </a>

  <!-- Search bar as dropdown in case of mobile devices -->
  <ng-container *ngIf="toggleScreenTypes.includes(currentScreenType); else headerSearchBar">
    <div class="text-white ml-auto" dropdown [insideClick]="true" [isAnimated]="true">
      <a
        dropdownToggle
        (click)="false"
        class="px-2"
      >
        <i class="fa fa-search"></i>
      </a>
      <!-- <div *dropdownMenu class="dropdown-menu dropdown-menu-right mx-2 p-0" role="menu">
        <ng-container *ngTemplateOutlet="headerSearchBar"></ng-container>
      </div> -->
    </div>
  </ng-container>


  <div class="text-white" dropdown [isAnimated]="true">
    <ng-container *ngIf="loggedInUser;else showLoginButton">
      <a
        dropdownToggle
        (click)="false"
        class="link"
      >
        {{'Hi ' + loggedInUser.firstName}} &nbsp; <i class="fa fa-user"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
          <a class="dropdown-item" >Settings</a>
        </li>
        <li>
          <a class="dropdown-item link" (click)="doLogout()">Logout</a>
        </li>
      </ul>
    </ng-container>
    <ng-template #showLoginButton>
      <a class="text-white" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Login</a>
    </ng-template>

  </div>
</nav>


<ng-template #headerSearchBar>
  <form class="form-inline ml-auto mr-auto header-form" autocomplete="off">
    <input id="keyword-search" class="form-control" type="text" placeholder="Search for a place" aria-label="Search" [(ngModel)]="filters.name" name="businessName">
    <input id="location-search" class="form-control" type="text" placeholder="Location" aria-label="Search" name="businessLocation"
      [(ngModel)]="filters.locationName"
      (keyup)="searchLocation()"
    >
    <select id="category-search" class="form-control" placeholder="Category" aria-label="Search" [(ngModel)]="filters.categoryId" name="businessCategory">
      <option value="">Category</option>
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
    <button id="search-button" type="submit" class="btn btn-danger right-round" (click)="doSearch()">Search</button>
    <span class="location-search-result-container">
      <ul class="list-group location-search-results" *ngIf="showLocationSuggestions">
        <li class="list-group-item link" *ngFor="let result of locationResults" (click)="updateCurrentLocation(result)">{{result.label}}</li>
        <li *ngIf="locationResults.length === 0">No Results found</li>
      </ul>
    </span>
  </form>
</ng-template>

