<section class="p-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="img-fluid event-banner-image" [src]="event?.bannerImage?.path" [alt]="event?.name">
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-1 f-color-primary">{{event?.name}}</h2>
        <div class="header-bottom-bar mb-1 mx-auto b-color-primary-accent"></div>
        <p class="mb-1"><i class="fa fa-calendar" *ngIf="event?.date || event?.time"></i> {{event?.date | date}} {{event?.time | date : 'shortTime'}}</p>
        <p class="mb-1"><i class="fa fa-map-marker" *ngIf="event?.location"></i> {{event?.location}}</p>
        <p class="mb-1" *ngIf="event?.priceRange"> {{event?.priceRange}}</p>
        <div>
          <a *ngFor="let socialLink of event?.socialLinks" class="m-1" [href]="socialLink.link" target="_blank">
            <span [ngSwitch]="socialLink.platform">
              <img *ngSwitchCase="'facebook'" class="social-icon" src="assets/social-icons/facebook.png">
              <img *ngSwitchCase="'instagram'" class="social-icon" src="assets/social-icons/instagram.png">
              <img *ngSwitchCase="'twitter'" class="social-icon" src="assets/social-icons/twitter.png">
              <img *ngSwitchCase="'youtube'" class="social-icon" src="assets/social-icons/youtube.png">

            </span>

          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="event?.presentedBy?.length > 0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4 class="f-color-primary">
          Presented By
        </h4>
        <div class="header-bottom-bar mx-auto mb-3 b-color-primary-accent"></div>
        <div class="d-flex flex-wrap justify-content-center">
          <ng-container *ngFor="let media of event?.presentedBy">
            <img [src]="media.path" class="brand-image align-self-center m-1" [alt]="media.fileName">
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="event?.inAssociationWith?.length > 0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4 class="f-color-primary">
          In Association With
        </h4>
        <div class="header-bottom-bar mx-auto mb-3 b-color-primary-accent"></div>
        <div class="d-flex flex-wrap justify-content-center">
          <ng-container *ngFor="let media of event?.inAssociationWith">
            <img [src]="media.path" class="brand-image align-self-center m-1">
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="py-4" *ngIf="event?.pricings?.length > 0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4 class="f-color-primary">
          Pricing
        </h4>
        <div class="header-bottom-bar mx-auto mb-3 b-color-primary-accent"></div>
        <div class="row d-flex justify-content-center flex-wrap">
          <div class="col-sm-4 mb-2" *ngFor="let pricing of event?.pricings">
            <h5 class="f-color-secondary mb-1">{{pricing.name}}</h5>
            <h5 class="mb-1">{{pricing.price}}</h5>
            <ul class="list-no-decoration">
              <li *ngFor="let feature of pricing.features">{{feature}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="event?.ticketsLocations?.length > 0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4 class="f-color-primary">
          Tickets Available At
        </h4>
        <div class="header-bottom-bar mx-auto mb-3 b-color-primary-accent"></div>
        <ul class="list-no-decoration">
          <li *ngFor="let location of event?.ticketsLocations">{{location}}</li>
        </ul>

      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="event?.contacts?.length > 0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4 class="f-color-primary">
          Contact Details
        </h4>
        <div class="header-bottom-bar mx-auto mb-3 b-color-primary-accent"></div>
        <div class="row d-flex justify-content-center flex-wrap">
          <div class="col-sm-4 mt-3 text-center" *ngFor="let contact of event?.contacts">
            <img class="team-member-avatar mb-3" *ngIf="contact.image?.path" [src]="contact.image?.path" [alt]="contact.name">
            <h5 class="mb-0 f-color-secondary">
              {{contact.name}}
            </h5>
            <p class="mb-0">{{contact.email}}</p>
            <p class="mb-0">{{contact.phone}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="event?.description">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4 class="f-color-primary">
          Event Details
        </h4>
        <div class="header-bottom-bar mx-auto mb-3 b-color-primary-accent"></div>
        <p class="mb-0">{{event?.description}}</p>
      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="event?.sponsors?.length > 0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4 class="f-color-primary">
          Sponsors
        </h4>
        <div class="header-bottom-bar mx-auto mb-3 b-color-primary-accent"></div>
        <div class="d-flex flex-wrap justify-content-center">
          <ng-container *ngFor="let media of event?.sponsors">
            <img [src]="media.path" class="brand-image align-self-center mx-2" [alt]="'sponsor' + event?.name">
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="py-4" *ngIf="eventMarker">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-map-with-markers [markers]="[eventMarker]" [height]="'50vh'"></app-map-with-markers>
      </div>
    </div>
  </div>
</section>
