<div class="row bg-grey-1 py-3">
  <div class="col-12">
    <h4 class="mb-0">{{businessId ? 'Edit Business' : 'Add Business'}}</h4>
  </div>
</div>
<form *ngIf="businessFormGroup" [formGroup]="businessFormGroup">
  <div class="row py-3">
    <div class="form-group col-sm-4">
      <label>Number</label>
      <input type="text" class="form-control" readonly disabled>
    </div>
    <div class="form-group col-sm-4">
      <label><span class="text text-danger">*</span>Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group col-sm-4">
      <label><span class="text text-danger">*</span>Category</label>
      <select class="form-control" formControlName="category"
        [compareWith]="compareById"
      >
        <option
          *ngFor="let category of categories"
          [ngValue]="category"
        >{{category.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label>Rating</label>
      <input type="number" min="0" max="5" class="form-control" formControlName="starRating">
    </div>
    <div class="form-group col-sm-4">
      <label>Contact Number</label>
      <input type="string" class="form-control" formControlName="phone">
    </div>
    <div class="form-group col-sm-4">
      <label>Email</label>
      <input type="string" class="form-control" formControlName="email">
    </div>
    <div class="form-group col-sm-4">
      <label>Website</label>
      <input type="string" class="form-control" formControlName="website">
    </div>
    <div class="col-sm-2 form-group d-flex align-items-end justify-content-center">
      <div class="form-check text-center">
        <input class="form-check-input" type="checkbox" id="cat-active" formControlName="active">
        <label class="form-check-label" for="cat-active">
          Active
        </label>
      </div>
    </div>
    <div class="col-sm-2 form-group d-flex align-items-end justify-content-center">
      <div class="form-check text-center">
        <input class="form-check-input" type="checkbox" id="slider-featured" formControlName="featured">
        <label class="form-check-label" for="slider-featured">
          Featured
        </label>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label>Address</label>
      <textarea class="form-control" formControlName="address"></textarea>
    </div>
    <div class="form-group col-sm-12">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <div class="form-group col-sm-12">
      <label>Owner Details</label>
      <app-contact-person-input formControlName="owner"></app-contact-person-input>
    </div>
    <div class="form-group col-sm-12">
      <label><span class="text text-danger">*</span>Thumbnail Image <small class="text-muted">Upload an image having 1:1 aspect ratio</small></label>
      <app-media-picker formControlName="thumbnailImage"></app-media-picker>
    </div>
    <div class="form-group col-sm-12">
      <label><span class="text text-danger">*</span>Banner Image <small class="text-muted">Upload an image having 7:3 aspect ratio</small></label>
      <app-media-picker formControlName="bannerImage" ></app-media-picker>
    </div>
    <div class="form-group col-sm-12">
      <label><span class="text text-danger">*</span>Images <small class="text-muted">Upload an image having 1:1 aspect ratio (minimum 4 images)</small></label>
      <app-media-picker [pickerType]="'multiple'" formControlName="images"></app-media-picker>
    </div>
    <div class="form-group col-sm-12">
      <label>Opening Hours</label>
      <app-opening-hours-input formControlName="openingHours"></app-opening-hours-input>
    </div>
    <div class="form-group col-sm-12">
      <label>Products And Services</label>
      <app-multi-string-input formControlName="productsAndServices"></app-multi-string-input>
    </div>
    <div class="form-group col-sm-12">
      <label>Products And Services Images</label>
      <app-media-picker [pickerType]="'multiple'" formControlName="productsAndServicesImages"></app-media-picker>
    </div>
    <div class="form-group col-sm-12">
      <label>Specialities</label>
      <app-multi-string-input formControlName="specialities"></app-multi-string-input>
    </div>
    <div class="form-group col-sm-12">
      <label>Languages Spoken</label>
      <app-multi-string-input formControlName="languagesSpoken"></app-multi-string-input>
    </div>
    <div class="form-group col-sm-12">
      <label>Payment Options</label>
      <app-media-picker [pickerType]="'multiple'" formControlName="paymentMethods"></app-media-picker>
    </div>
    <div class="form-group col-sm-12">
      <label>Team</label>
      <app-contact-person-input formControlName="team"></app-contact-person-input>
    </div>
    <div class="form-group col-sm-12">
      <label>Map</label>
      <div class="p-2">
        <app-coordinates-picker formControlName="latLng"></app-coordinates-picker>
      </div>
    </div>
    <div class="col-sm-12 text-right">
      <button type="button" class="btn btn-default m-2" (click)="navigateToList()" routerLinkActive="router-link-active" >Cancel</button>
      <button type="submit" class="btn btn-primary m-2" (click)="saveBusiness()">Save</button>
    </div>
  </div>
</form>
