<div class="row bg-grey-1 py-3">
  <div class="col-12">
    <h4 class="mb-0">Media</h4>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-media-uploader (mediaUploaded)="mediaUploaded($event)"></app-media-uploader>
  </div>
</div>



<div class="row">
  <div class="col-12 mb-2">
    <form class="form-inline">
      <input type="text" class="form-control mr-sm-2" placeholder="File name" name="fileName" [(ngModel)]="search.name">
      <select class="form-control mr-sm-2" name="ratio" [(ngModel)]="search.aspectRatio">
        <option value="">Select</option>
        <option *ngFor="let ratio of imageDataService.aspectRatios" [value]="ratio.ratio.toString()">{{ratio.displayratio}}</option>
      </select>
      <button type="submit" class="btn btn-primary mr-sm-2" (click)="getMedias()">Submit</button>
      <button type="button" class="btn btn-secondary mr-sm-2" (click)="clearSearch()">Clear</button>
    </form>
  </div>
  <div class="col-12">
    <ng-container *ngFor="let media of medias">
      <app-media-item [media]="media"></app-media-item>
    </ng-container>
  </div>
</div>

