<div class="row bg-grey-1 py-3">
  <div class="col-12">
    <h4 class="mb-0">Media &nbsp; <button type="button" class="btn btn-primary" (click)="uploadFile.click()">Upload</button></h4>
  </div>
</div>

<div>
  <input type="file" class="d-none" #uploadFile (change)="fileChanged($event)">
    <image-cropper
      [imageChangedEvent]="imageChangeEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="currentAspectRatio"
      [maintainAspectRatio]="currentAspectRatio > 0"
      format="jpg"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="imageLoadingFailed()"
    ></image-cropper>
    <div class="action-row text-center mb-5" *ngIf="imageFile?.croppedImageEvent?.base64">
      <select class="form-control" [(ngModel)]="currentAspectRatio" >
        <option>Select Image Type</option>
        <option *ngFor="let item of imageDataService.aspectRatios" [value]="item.ratio" >{{item.displayratio}}</option>
      </select>
      <button type="button" class="btn btn-primary m-2" (click)="uploadImage()">Upload</button>
      <button type="button" class="btn btn-primary m-2" (click)="resetCropper()">Cancel</button>
    </div>
</div>

<div class="row">
  <div class="col-12 mb-2">
    <form class="form-inline">
      <input type="text" class="form-control mr-sm-2" placeholder="File name" name="fileName" [(ngModel)]="search.name">
      <select class="form-control mr-sm-2" name="ratio" [(ngModel)]="search.aspectRatio">
        <option value="">Select</option>
        <option *ngFor="let ratio of imageDataService.aspectRatios" [value]="ratio.ratio.toString()">{{ratio.displayratio}}</option>
      </select>
      <button type="submit" class="btn btn-primary mr-sm-2" (click)="getMedias()">Submit</button>
      <button type="button" class="btn btn-secondary mr-sm-2" (click)="clearSearch()">Clear</button>
    </form>
  </div>
  <div class="col-12">
    <ng-container *ngFor="let media of medias">
      <app-media-item [media]="media"></app-media-item>
    </ng-container>
  </div>
</div>

