<div class="my-sidebar" [ngClass]="{'show25per': show }">
  <div class="my-sidebar-overlay"></div>
  <div class="my-sidebar-content">
    <div class="d-flex justify-content-between">
      <div class="my-sidebar-heading">
        <h4>Add Review</h4>
      </div>
      <div class="my-sidebar-close">
        <span class="link" (click)="close()">
          <img src="assets/application/cancel.png" width="24" height="24">
        </span>
      </div>
    </div>
    <div class="review-form">
      <form>
        <div class="mt-2"><strong>Share your experience</strong></div>
        <div>
          <rating class="business-input-rating"></rating>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your First Name(*)">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Last Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Your Email(*)">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="How was this place?">
        </div>
        <div class="form-group">
          <textarea rows="5" class="form-control" placeholder="Share details of this place"></textarea>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-default mx-1" (click)="close()">Cancel</button>
          <button type="submit" class="btn btn-info mx-1">Share</button>
        </div>
      </form>
    </div>
  </div>
</div>
