<ng-container *ngIf="business">

    <div class="card" [ngClass]="displayType === 'horizontal' ? 'card-horizontal' : 'card-vertical'">
      <div class="row no-gutters">

          <div [ngClass]="displayType === 'horizontal' ? 'col-4' : 'col-12'">
            <a class="d-block height100Per" [routerLink]="['/business', business.id]" routerLinkActive="router-link-active" >
              <div class="rounded business-thumbnail height100Per" [ngStyle]="{'background-image': 'url(' + business.thumbnailImage?.path + ')'}">

              </div>
            </a>
          </div>


        <div [ngClass]="displayType === 'horizontal' ? 'col-8' : 'col-12'">
          <div class="card-body color-default">
            <a class="no-decoration" [routerLink]="['/business', business.id]" routerLinkActive="router-link-active" >
              <h5 class="card-title mb-1 fw-medium f-color-primary">{{business.name}}</h5>
              <p class="card-text f-color-secondary">
                {{business.address}}
                <br>
                <small class="text-muted"><!-- {{business.starRating}} --> <!--REVIEWS--></small>
              </p>
            </a>

            <div class="d-flex justify-content-around">
              <a class="no-decoration f-color-primary-accent" href="example.com" target="_blank"><i class="fa fa-globe"></i></a>
              <a class="no-decoration f-color-primary-accent" href="mailto:johndoe@example.com"><i class="fa fa-envelope"></i></a>
              <a class="no-decoration f-color-primary-accent" href="tel:9999999999"><i class="fa fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-container>


