/* You can add global styles to this file, and also import other style files */

/* :root {
  --c-color-1: #03045e;
  --c-color-2: #023e8a;
  --c-color-3: #0077b6;
  --c-color-4: #00b4d8;
  --c-color-5: #90e0ef;
  --c-color-6: #caf0f8;
  --c-color-default: #212529;
}

.color-1, .color-1:hover {
  color: var(--c-color-1);
}

.color-2, .color-2:hover {
  color: var(--c-color-2);
}

.color-3 {
  color: var(--c-color-3);
}

.color-4 {
  color: var(--c-color-4);
}

.color-default, .color-default:hover {
  color: var(--c-color-default)
}

.border-color-2 {
  border-color: var(--c-color-2);
} */

html, body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --c-color-primary: #1a237e;
  --c-color-secondary: #283593;
  --c-color-primary-accent: #1976d2;
}

.fw-light, .fw-300 {
  font-weight: 300;
}

.fw-medium, .fw-400 {
  font-weight: 400;
}

.fw-bold, .fw-500  {
  font-weight: 500;
}

.fw-xbold, .fw-700 {
  font-weight: 700;
}

.f-color-primary {
  color: var(--c-color-primary);
}

.f-color-secondary {
  color: var(--c-color-secondary);
}

.b-color-primary-accent {
  border-color: var(--c-color-primary-accent) !important;
}


.no-decoration, .no-decoration:hover {
  text-decoration: none;
}

.slider-action-prev, .slider-action-next {
  position: absolute;
  top: 50%;
  z-index: 9;
  margin-top: -33px;
}

.carousel .slider-action-btn {
  opacity: 0;
  transition: opacity .5s ease-out;
}

.carousel:hover .slider-action-btn {
  opacity: 1;
}

.slider-action-btn:not(:disabled):active {
  border: none !important;
}

.slider-action-prev {
  left: 0;
  border-radius: 0 .25rem .25rem 0;
  border-left: none;
  padding-left: .5rem;
}
.slider-action-next {
  right: 0;
  border-radius: .25rem 0 0 .25rem;
  border-right: none;
  padding-right: .5rem;
}

.slide:focus {
  outline: none;
}

.link {
  cursor: pointer;
}

.height100Per {
  height: 100%;
}

.height100vhResHeader{
  height: calc(100vh - 56px);
}

.input-group .input-group-text {
  background: #fff;
}

.input-group input {
  border-right: none;
}

.bg-grey {
  background-color: #eee;;
}

.bg-grey-1 {
  background-color: #f7f7f7;
}

.breadcrumb.my-breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.btn-icon-circle {
  border-radius: 100%;
  width: 42px;
  height: 42px;
}

.custom-list-1 {
  list-style: none;
  padding-left: 0;
}

.custom-list-1 li {
  display: block;
  padding: 6px 8px;
}

.custom-list-1 span {
  float: right;
}

.header-bottom-bar {
  border: 1px solid ;
  width: 150px;
}


.hide-element {
  height: 0;
  width: 0;
  visibility: hidden;
}

.text-white {
  color: #fff;
}

.mat-form-field {
  width: 100%;
}

.mb-20px {
  margin-bottom: 20px !important;
}

.my-15px {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.px-15px {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.text-overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/************************/
/*     MEDIA QUERIES    */
/************************/


@media screen and (min-width: 1600px) {

}

/* XL Break Point*/
@media screen and (min-width: 1200px) {


  .do-zoom-hover {
    transition: transform .1s ease-in;
  }

  .do-zoom-hover:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {

}

@media screen and (max-width: 1599px) {

}

/* LG Break Point*/

@media screen and (min-width: 992px) and (max-width: 1199px ) {

}

@media screen and (max-width: 1199px) {

}

/* MD Break Point*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-heading h2 {
    font-size: 1.6rem;
  }

  .header-bottom-bar {
    width: 100px;
  }

  .section-heading h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {

}

/* SM Break Point*/
@media screen and (min-width: 576px) and (max-width: 767px) {

}

@media screen and (max-width: 767px) {
  .section-heading {
    text-align: center;
  }

  .section-heading h2{
    font-size: 1.5rem;
  }
}

/* XS Break Point*/
@media screen and (max-width: 575px) {

}

