.the-card {
  max-width: 300px;
}


.the-card-container {
  padding: 0 6px 12px 6px;
}

.card-text {
  margin-bottom: 0;
}

.card-img-top {
  height: 300px;
}


@media screen and (max-width: 1279px) {

  .card-img-top {
    height: 250px;
  }

  .card-title {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .card-body {
    padding: 10px;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.8rem;
  }
}
